In [3]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix
import datetime as dt
from datetime import datetime
import pymysql
import MySQLdb

In [6]:
conn = pymysql.connect(host='127.0.0.1', user='root',password='chchboss',database='mo')

cur = conn.cursor()
sql = "SELECT * FROM location_test"
cur.execute(sql)
results = cur.fetchall()
conn.commit()

#print(results)

location_id = []
user_id = []
longitude = []
latitude = []
start_date = []
start_time = []
duration = []
weekday = []
name1 = []
name2 = []
name3 = []
name4 = []
name5 = []
category1 = []
category2 = []
category3 = []
category4 = []
category5 = []
#user_location_id = []

for row in results:
    user_id.append(row[1])
    longitude.append(row[2])
    latitude.append(row[3])
    start_date.append(row[4])
    start_time.append(row[5])
    duration.append(row[6])
    weekday.append(row[7])
    name1.append(row[8])
    name2.append(row[9])
    name3.append(row[10])
    name4.append(row[11])
    name5.append(row[12])
    category1.append(row[13])
    category2.append(row[14])
    category3.append(row[15])
    category4.append(row[16])
    category5.append(row[17])
    #user_location_id.append(row[18])

all_data = {
    "user_id":user_id,
    "longitude":longitude,
    "latitude":latitude,
    "start_date":start_date,
    "start_time":start_time,
    "duration":duration,
    "weekday":weekday,
    "name1":name1,
    "name2":name2,
    "name3":name3,
    "name4":name4,
    "name5":name5,
    "category1":category1,
    "category2":category2,
    "category3":category3,
    "category4":category4,
    "category5":category5
    #"user_location_id":user_location_id

}
df = pd.DataFrame(all_data)
df.head()

,user_id,longitude,latitude,start_date,start_time,duration,weekday,name1,name2,name3,name4,name5,category1,category2,category3,category4,category5
0,2,121.543847,25.052023,2020-08-20,12:35,None,5,Nanjing Fuxing Station,梅花廳(粵菜飲茶) - 兄弟大飯店,Brother Hotel,HONG KONG tea stalls (Nanjing flagship store),恆逸教育訓練中心,transit_station,restaurant,lodging,restaurant,point_of_interest
1,2,121.543847,25.052023,2020-08-20,12:35,None,5,Nanjing Fuxing Station,梅花廳(粵菜飲茶) - 兄弟大飯店,Brother Hotel,HONG KONG tea stalls (Nanjing flagship store),恆逸教育訓練中心,transit_station,restaurant,lodging,restaurant,point_of_interest
2,2,121.543539,25.029342,2020-08-20,12:40,None,5,Taipei Fullerton Hotel-Fuxing South,CUPETIT 卡柏蒂法式手工喜餅,臺北市立大安高級工業職業學校,小樽早餐店,Da-An Vocational High School,lodging,bakery,secondary_school,restaurant,transit_station
3,2,121.559407,25.017759,2020-08-20,12:46,None,5,Linguang Station,7-ELEVEN麟運門市,Taiwan Insect Museum,和記豆漿店,McDonald's,subway_station,convenience_store,museum,restaurant,restaurant
4,2,121.558525,24.998611,2020-08-20,12:51,None,5,85度c,Louisa Coffee 路易．莎咖啡(萬芳醫院店),Cut髮院 百元剪髮專門店 萬芳店,Wanfang Hospital,Wanfang Hospital Station,cafe,cafe,beauty_salon,hospital,subway_station